html, div {
    font-family: Ubuntu;
    margin: auto;
    width: 90%;
}

html {
    background-color: black;
    background-image: url("http://www.powerpointhintergrund.com/uploads/pixel-art-background-17.png");
    background-size: cover;
    background-attachment: fixed;
    
}

body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
    padding: 0.5em;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.main {
    background: rgba(255, 255, 255, 0.8);
    padding: 0.8em;
    width: 90%;
}

.grid_specs {
    width: 50%;
    padding: 1em;
    border: 1px solid black;